extends layout

block content 

    main.main-account
        nav.user-nav-content
            .user-nav-menu
                h5.title-user Profile
                ul.liste-user-menu 
                    li.user-item-menu 
                        a.user-link-menu Profil
                    li.user-item-menu 
                        a.user-link-menu Livre 

            - if(user.role === "Admin" || user.role === "Employer")
            .admin-nav-menu 
                h5.admin-title-menu Admin 
                ul.liste-admin-menu
                    li.admin-item-menu
                        a.admin-link-menu(href="#") Gestion des livre 
                    li.admin-item-menu
                        a.admin-link-menu(href="#") Gestion des emprunt 
                    li.admin-item-menu
                        a.admin-link-menu(href="#") Gestion des utilisateur  

        .view-gestion
            .user-view-content
                .user-views.form-content
                    h2.title-secondary Gestion de votre compte 
                    form.form-signin.form-user-update
                        input.form-control-signin(type="email", name="email", id="email", value=`${user.email}` )
                        input.form-control-signin(type="text", name="numberOfStreet", id="numberOfStreet", value=`${user.adrress.numberOfStreet}` )
                        input.form-control-signin(type="text", name="nameOfStreet", id="nameOfStreet", value=`${user.adress.nameOfStreet}` )
                        input.form-control-signin(type="text", name="zipCode", id="zipcode", value=`${user.adress.zipCode}` )
                        br
                        button.btn.btn-green(type="submit") Enregistrer
                
            .line &nbsp;    
                
            .user-view-content
                .user-views.form-content
                    h2.title-secondary Gestion de votre compte
                    form.form-signin.form-update-password
                        input.form-control-signin(type="password", name="passWordCurrent", id="passwordCurrent", placeholder="Mot de passe" )
                        input.form-control-signin(type="password", name="passWord", id="password", placeholder="Mot de passe" )
                        input.form-control-signin(type="password", name="passwordConfirm", id="passwordConfirm", placeholder="Confirmation mot de passe" )
                        br
                        button.btn.btn-green.btn-save-password(type="submit") Enregistrer

