extends layout

block content

    .main
        h2.title-catalogue Notre catalogue de livres

        .card-content       
            each book in books 
                .card.card-catalogue
                    .cont-img-book
                        img(src=`./images/${book.image}` alt='image portfolio')
                    h3= book.title
                    p= book.description
                    a.btn-book(href=`/book/${book._id}`) Voir