extends layout

block content

    .main
        h2.title-catalogue Notre catalogue de livre

        .card-content       
            each book in books 
                .card
                    .cont-img-book
                        img(src='./images/livre-harry-potter-1.jpeg' alt='image portfolio')
                    h3= book.title
                    p= book.description
                    a.btn-book(href=`/book/${book._id}`) Voir