extends layout

block content

    main.main
        .error
            .error-title 
                h2.headding-secondary.headding-secondary-error Outch ! Une erreur c'est produite! 
            .error-msg= msg