extends layout 

block content 
    .content-home
        h1.home-title LitlleFootBook votre bibliotéque
        .actu-content 
            h2.actu-title Actualité de la bibliotéque
            p.actu-txt Suite au messure gouvernemental, il nous ai impossible de vous accueillir dans la bibliotéque.C'est pourquoi nous avons décidé de créer ce site pour que vous puissier toujours lire.
            p.actu-txt En vous enscrivant vous pourrez reserver des livre et venir les chercher puis une fois lue nous les ramener.
            p.actu-footer L'équipe de votre bibliotéque.
        .img-content 
            img(src="/images/biblioteque.jpg", alt="Photo de la bibliotéque")