extends layout

block content 
    .main 
        .form-content
            h2.title-form Inscription
            form.form-signup
                input.form-control-signup(type="text", name="name", id="name", placeholder="Nom" autofocus)
                input.form-control-signup(type="text", name="lastName", id="lastName", placeholder="Prenom" )
                input.form-control-signup(type="email", name="email", id="email", placeholder="Adresse mail" )
                input.form-control-signup(type="date", name="birthday", id="birthday", placeholder="Date de naissance" )
                input.form-control-signup(type="text", name="numberOfStreet", id="numberOfStreet", placeholder="N° de vois" )
                input.form-control-signup(type="text", name="nameOfStreet", id="nameOfStreet", placeholder="Nom de la vois" )
                input.form-control-signup(type="text", name="zipCode", id="zipcode", placeholder="Code postal" )
                input.form-control-signup(type="password", name="password", id="password", placeholder="Mot de passe" )
                input.form-control-signup(type="password", name="passwordConfirm", id="passwordConfirm", placeholder="Mot de passe" )
                br
                button.btn.btn-inscription(type="submit") Enregistrer
